@using Orchard.ContentManagement
@{
    var buildShapes = Model.BuildShapes;
}
<!-- About starts -->
<div class="about">
    <div class="row">
        <div class="span12">
            <!-- About hero -->
            <div class="about-hero">
                <p><span class="hightlight">We Started Raptor Concepts in 2005</span>. Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla <span class="hightlight">ullamcorper tortor</span> non felis commodo in sagittis est accumsan.</p>
            </div>
            <div class="teams">
                <div class="row">
                    @foreach (dynamic shape in buildShapes()) {
                        dynamic teamMember = shape.ContentItem.TeamMember;
                        <div class="span3">
                            <!-- Staff -->
                            <div class="staff">
                                <!-- Picture -->
                                <div class="pic">
                                    <img src="@Url.Content(teamMember.Photo.Url)" alt="" />
                                </div>
                                <!-- Details -->
                                <div class="details">
                                    <!-- Name and designation -->
                                    <div class="desig pull-left">
                                        <p class="name">@teamMember.Name.Value</p>
                                        <em>@teamMember.Position.Value</em>
                                    </div>
                                    <!-- Social media details. Replace # with profile links -->
                                    <div class="asocial pull-right">
                                        <a href="@teamMember.Facebook.Value" target="@teamMember.Facebook.Target"><i class="icon-facebook"></i></a>
                                        <a href="@teamMember.Twitter.Value" target="@teamMember.Twitter.Target"><i class="icon-twitter"></i></a>
                                        <a href="@teamMember.LinkedIn.Value" target="@teamMember.LinkedIn.Target"><i class="icon-linkedin"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!-- Description -->
                                    <p class="adesc">@teamMember.Description.Value</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our team ends -->
